<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Primary">
      <ng-template matTabContent>
        <div class="mail-items inbox" *ngIf="inboxMails.length > 0">
          <div class="list" *ngFor="let mail of inboxMails; let i = index" appHighlight>
            <a [routerLink]="[i]"><span class="sender">{{ mail.sender }}</span> <span class="subject">{{ mail.subject}}</span>
              <span class="message">{{ mail.message }}</span> <span class="date">{{ mail.time }}</span></a>
            <a (click)="onDelete([i])"><img class="mail-trash" src="https://i.imgur.com/OPoRLZ1.png" title='Delete'></a>
          </div>
        </div>
        <div *ngIf="inboxMails.length == 0">
          <div class="tabs">
            <h3>Your Inbox is empty.</h3>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Social">
      <ng-template matTabContent>
        <div class="tabs">
          <h3>Your Social tab is empty.</h3>
          <p>Emails from social networks, media-sharing sites, dating services and other social sites will be shown
            here.</p>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Promotions">
      <ng-template matTabContent>
        <div class="tabs">
          <h3>Your Promotions tab is empty.</h3>
          <p>Deals, offers and other marketing emails will be shown here.</p>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<router-outlet></router-outlet>
