<div class="mail-items" *ngIf="draftsMail.length > 0">
  <div class="list" *ngFor="let mail of draftsMail; let i = index" appHighlight>
    <a [routerLink]="[i]"><span class="sender">{{ mail.sender }}</span> <span class="subject">{{ mail.subject }}</span>
      <span class="message">{{ mail.message }}</span> <span class="date">{{ mail.time }}</span></a>
    <a (click)="onDelete([i])"><img class="mail-trash" src="https://i.imgur.com/OPoRLZ1.png" title='Delete'></a>
  </div>
</div>

<div *ngIf="draftsMail.length == 0">
  <div class="tabs empty empty-drafts">
    <p>You don't have any saved drafts.</p>
    <p>Saving a draft allows you to keep a message you aren't ready to send yet.</p>
  </div>
</div>

<router-outlet></router-outlet>
